@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');

:root{
    --soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%);
    --Dark-blue: hsl(198, 62%, 26%);
    --Dark-moderate-cyan: hsl(168, 34%, 41%);

    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);

    --barlow-font: 'Barlow', sans-serif;
    --fraunces-font: 'Fraunces', serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-image{
    background: url(/images/desktop/image-header.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

/* NAV START */

.nav-ul{
    width: 600px;
}

nav .logo{
    width: 12rem;
    height: auto;
}

.nav-ul li a{
    padding: 2rem;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.nav-ul li{
    list-style-type: none;
}

.nav-ul li{
    font-family: var(--barlow-font);
    display: inline-block;
}

.nav-ul li:last-child a{
    font-family: var(--fraunces-font);
    background-color: #fff;
    color: var(--Very-dark-desaturated-blue);
    border-radius: 2em;
    padding: 1rem 1.9rem;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.hamburger{
    background-color: transparent;
    border: 0;
    color: white;
    cursor: pointer;
    display: none;
}

nav{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* NAV END */

/* MAIN START  */


.landing{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7rem;
}

.landing h1{
    font-size: 4rem;
    font-family: var(--fraunces-font);
    text-transform: uppercase;
    color: white;
    letter-spacing: 8px;
    font-weight: 900;
    margin-top: 100px;
}

/* MAIN END */

/* GRID START */

.grid-section{
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(3, 35%);
    grid-template-areas: 
    "text1 image1"
    "image2 text2"
    "image3 image4";
}

.text1{
    grid-area: text1;
}

.text2{
    grid-area: text2;
}

.image1{
    grid-area: image1;
}

.image2{
    grid-area: image2;
}

.image3{
    grid-area: image3;
}

.image4{
    grid-area: image4;
}

.text-section{
    padding: 20%;
}

.text-section h2{
    font-family: var(--fraunces-font);
    font-size: 3rem;
    color: var(--Very-dark-desaturated-blue);
    padding-top: 40px;
}

.text-section p{
    font-family: var(--barlow-font);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--Very-dark-grayish-blue);
    margin: 2rem 0;
    line-height: 2rem;
}

.text-section a{
    font-family: var(--fraunces-font);
    font-size: 1.5rem;
    color: var(--Very-dark-desaturated-blue);
    text-decoration: underline 4px var(--Yellow);
}

.text-section .second-row-btn{
    text-decoration: underline 4px var(--soft-red);
}

.img-section{
    position: relative;
}

.img-section img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text-on-img{
    z-index: 100;
    position: absolute;
    color: var(--Dark-desaturated-cyan);
    font-size: 1.2rem;
    bottom: 40px;
    margin: 0 250px;
    text-align-last: center;
}

.text-on-img h2{
    font-family: var(--fraunces-font);
    padding-bottom: 70px;
    font-size: 2.5rem;
}

.text-on-img p{
    font-family: var(--barlow-font);
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
}

/* GRID END */

/* TESTIMONIALS START */

.testimonials{
    margin: 200px 150px;
    display: grid;
    column-gap: 60px;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(2 1fr);
    grid-template-areas: 
    "title title title"
    "card1 card2 card3";
}

.testimonials .title{
    grid-area: title;
    display: flex;
    justify-content: center;
    font-family: var(--fraunces-font);
    font-size: 1.6rem;
    color: var(--Grayish-blue);
    margin: 0 0 100px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.card1{
    grid-area: card1;
}

.card2{
    grid-area: card2;
}

.card3{
    grid-area: card3;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 60px;
}

.card img{
    border-radius: 50%;
    width: 90px;
}

.card-text{
    font-family: var(--barlow-font);
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2rem;
    color: var(--Very-dark-grayish-blue);
    text-align-last: center;
}

.name{
    text-align-last: center;
}

.name h3{
    font-family: var(--fraunces-font);
    font-size: 1.4rem;
    color: var(--Very-dark-desaturated-blue);
}

.name p{
    margin-top: 20px;
    font-family: var(--barlow-font);
    font-size: 1.2rem;
    color: var(--Grayish-blue);
    font-weight: 400;
}

/* TESTIMONIALS END */

/* GALLERY START */

.gallery{
    display: flex;
}
.gallery img{
    width: 25%;
}

/* GALLERY END */

/* FOOTER START */

footer .logo{
    filter: invert(34%) sepia(92%) saturate(302%) hue-rotate(118deg) brightness(60%) contrast(83%);
    width: 12rem;
}

footer{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #90d4c5;
}

.footer-nav{
    list-style: none;
    display: flex;
}

.footer-nav li{
    margin: 0 25px;
    font-family: var(--barlow-font);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--Dark-moderate-cyan);
}

.socials{
    display: flex;
    column-gap: 20px;
}

/* FOOTER END */

/* MEDIA QUERIES */

@media only screen and (max-width: 1600px) {
    .text-on-img{
        margin: 0 20px;
    }
}

@media only screen and (max-width: 1280px) {
    .text-on-img{
        margin: 0 20px;
    }
}

@media only screen and (max-width: 1080px) {
    .text-on-img h2{
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 1070px) {
    .landing h1{
        font-size: 3.8rem;
        font-family: var(--fraunces-font);
        text-transform: uppercase;
        color: white;
        letter-spacing: 8px;
        font-weight: 900;
        margin-top: 100px;
        text-align: center;
    }

    .grid-section{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 15% 10% 15% 600px 600px;
        grid-template-areas: 
        "image1"
        "text1"
        "image2"
        "text2"
        "image3"
        "image4";
    }

    .testimonials{
        margin: 100px 20px;
        display: grid;
        grid-gap: 100px;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4 1fr);
        grid-template-areas: 
        "title"
        "card1"
        "card2"
        "card3";
    }

    .testimonials .title{
        grid-area: title;
        display: flex;
        justify-content: center;
        font-family: var(--fraunces-font);
        font-size: 1.3rem;
        color: var(--Grayish-blue);
        letter-spacing: 8px;
        margin: 0;
        text-transform: uppercase;
    }

    .gallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .gallery img{
        width: 100%;
    }

    .nav-ul{
        display: none;
        width: 100%;
    }

    .nav-ul li a{
        color: var(--Very-dark-desaturated-blue);
        font-weight: 500;
    }

    .nav-ul li:last-child a{
        background-color: var(--Yellow);
    }

    .nav-ul.show {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        row-gap: 50px;
        margin-top: 40px;
        background-color: white;
        border-radius: 15px;
    }

    .hamburger{
        display: block;
    }

}
